html {
    margin: 0 auto;
    background-color: #101014;
    /* background-color:rgb(33 17 13); */
    /* background-color: rgb(23, 43, 66); */

    /* background-image: radial-gradient(#874dcf, #683fb9, #3725a8); */
    /* background-image: radial-gradient(#323ca9, #0b3d6e, #040e25); */
    /* background-image: radial-gradient(#356391, #1b5c9c, #001427); */
    color: rgb(212, 207, 207);
    /* background-image: url("smoke.jpeg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode:color-burn; */
}

body {
    /* width: 1000px;
    margin: 0 auto;
    position: relative; */
}

h1 {
    font-size: 90px;
    font-weight: 500;
    /* color:#84228f; */
    /* color:#fccb93; */
    color: #d5d5d5;
    /* font-variant:unset; */
    font-family:'p22-underground', 'Arial Narrow', Arial, sans-serif;
    /* background-blend-mode: color-burn; */
    margin: -5px 0px -5px 20px;
    /* text-shadow: 3px 3px 6px #1e6905cf; */
}

#headerDiv {
    padding-top: 15%;
    padding-left: 10%;
}

header {
    background-color:#efefeb;
    /* background-color: #091a2b; */
    height: 100vh;
    min-height: 700px;

    margin: 0px auto;
    width: 100vw;
    /* padding: 120px; */
    /* background-image: url("smoke.jpeg"); */
    background-image: url("AdobeStock_594591737.jpeg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode:exclusion;
}

header p {
    font-family:'share tech', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    /* color: #4682B4; */
    color: #a1ff84;
    line-height: 42px;
}

nav {
    position: fixed;
    top: 30px;
    /* left:50%; */
    /* margin: 0 auto; */
    /* background-color: rgba(0, 0, 0, 0.274); */
    z-index: 10000;
    width:100%;
    /* margin-left: -50%; */
    text-align: center;

}

nav ul {
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}

nav ul li{
    list-style-type: none;
    display: inline;
    /* background-color: blueviolet; */
    padding: 15px 22px;
    background-color: #a1ff84;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
}

nav ul li:hover{ 
    background-color: black;
    
}

nav ul li a {
    font-family:'comme', 'Arial Narrow', Arial, sans-serif;
    padding: 6px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 75px;
    display: inline-block;
    
}
nav ul li:hover a {
    color: white;
}

nav ul li:hover {
    padding-top: 60px;
    transition: padding 0.3s;
}

#homeButt {
    position:fixed;
    bottom: -16px;
    right: 0px;
    background-color:#a1ff84a4;
    color: #ffffff;
    font-size: 60px;
    padding: 6px 8px;
    text-decoration: none;
    font-family: 'tech share', 'sans-serif';
    font-weight: 800;
    border-radius: 3px;
}

main {
    margin: 0 100px;
}

h2, h3, h4 {
    font-family: 'anta', 'sans-serif';
}

h2 {
    color: #a1ff84;
    font-size: 36px;
}

h3 {
    font-family:'share tech', 'Arial Narrow', Arial, sans-serif;
}

#experience p{
    text-align: center;
}


#about, #projects, #contact {
    /* height: 100vh; */
    /* margin: 0 100px; */
    height: 100vh;
    min-height: 600px;
    padding: 45px 10px 10px 10px ;
}

/* about */
#about {
    /* height: 70vh; */
    /* margin: 0 100px; */
    /* min-height: 100vh; */
    /* overflow-y: scroll; */
    min-width: 850px;
}

#about div {
    grid-column: 2/4;
    font-family:'comme', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;

}
#linked {
    max-height: 500px;
    max-width: 300px;
    border-radius: 7px;
    margin-right: 20px;
}

#about_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

#skills {
    margin: 50px 0px;
    font-family:'comme', 'Arial Narrow', Arial, sans-serif;

}

#skills li {
    font-family: ;
    font-size: 20px;
}


/* projects */
.projectImgs {
    /* height: 400px; */
    /* width:100vw; */
}

.projImg {
    max-width: 100%;
    height: 300px;
    width: auto;
    margin: 0 auto;
    max-height: 350px;
}

#projects {
    /* min-width: 800px; */
    min-height:1900px;
}

#projects section {
    max-width: 500px;
    margin: 10px;
}

#projects p {
    font-family:'share tech', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#projGridDiv {
    display:grid;
    /* flex-basis: 0;
    flex-grow: 1; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    /* width:90%; */
}

.projectImgs {
    position:relative;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: #a1ff84;
    font-size: 28px;
    font-family: 'share tech', 'sans-serif';
}

.slick-prev:hover, .slick-next:hover {
    background-color: white;
    color: black;
    cursor:pointer;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/* contact */
#contact {
    display: grid;

    font-size: 40px;
    font-family:'share tech', 'Arial Narrow', Arial, sans-serif;
    height: 60vh;
    min-height: 400px;

}

#contact p {
    text-align: center;
    font-size: 45px;
}

#email {
    color: white;
    text-decoration: none;
}

#email:hover {
    color: #a1ff84;
    /* font-size: 44px; */
}

/* footer */
footer {
    text-align:center;
}

@media screen and (min-width: 900px) {
    #projGridDiv {
        display:grid;
        /* flex-basis: 0;
        flex-grow: 1; */
        /* flex-wrap: wrap; */
        /* align-items: center; */
        justify-content: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        /* width:90%; */
    }

    #projects {
        min-height: 1300px;
    }
}

@media screen and (min-width: 1250px) {
    #projGridDiv {
        
    }
}